<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5">Apply Payment</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="applyPayment" name="applyPayment" method="POST">
            {{ apply_payment_form.csrf_token() }}
            <div class="modal-body">
                <!-- Payment Information -->
                <h6>Payment Information</h6>
                <div>
                    <div class="row">
                        <div class="input-group mb-3 col">
                            {{ apply_payment_form.payment_method.label(class="input-group-text w-50") }}
                            {{ apply_payment_form.payment_method(class="form-select") }}
                        </div>
                        <div class="input-group mb-3 col">
                            {{ apply_payment_form.check_number.label(class="input-group-text w-50") }}
                            {{ apply_payment_form.check_number(class="form-control") }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group mb-3 col">
                            {{ apply_payment_form.payment_amount.label(class="input-group-text w-50") }}
                            <span class="input-group-text">$</span>
                            {{ apply_payment_form.payment_amount(class="form-control", min="0") }}
                        </div>
                        <div class="input-group mb-3 col">
                            {{ apply_payment_form.date_received.label(class="input-group-text w-50") }}
                            {{ apply_payment_form.date_received(class="form-control") }}
                        </div>
                    </div>
                    <div class="text-end">
                        <button class="btn btn-primary" id="btnApplyPayment" type="button">Apply</button>
                    </div>
                </div>
                <div id="paymentApplication">
                    <h6>Payment Application</h6>
                    <label id="lblPaymentRemaining">hello</label>
                    <table class="table">
                        <thead class="text-center">
                            <th>#</th>
                            <th>Created Date</th>
                            <th>Invoice Amount</th>
                            <th>Amount Applied</th>
                            <th>Amount Owed</th>
                        </thead>
                        <tbody>
                            {% if open_invoices|length == 0 %}
                            <tr>
                                <td class="text-center" colspan="100%">
                                    No billable invoices found on this project
                                </td>
                            </tr>
                            {% else %}
                            {% for invoice in open_invoices %}
                            <tr class="text-center align-items-center">
                                <td>{{ invoice['invoice_number'] }}</td>
                                <td>{{ invoice['created_date'].strftime('%m/%d/%Y') }}</td>
                                <td>{{ "${:,.2f}".format(invoice['invoice_amount']) }}</td>
                                <td>{{ apply_payment_form.amount_applied(
                                    class="form-control form-control-sm text-end",
                                    id="invoiceApplyPayment"+invoice['invoice_id']|string) }}</td>
                                <td>{{ apply_payment_form.amount_remaining(
                                    class="form-control form-control-sm text-end",
                                    id="invoiceAmountRemaining"+invoice['invoice_id']|string) }}</td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="100%">
                                    <div class="input-group mb-3">
                                        {{ apply_payment_form.payment_note.label(class="input-group-text") }}
                                        {{ apply_payment_form.payment_note(class="form-control") }}
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    {{ apply_payment_form.submit(class="btn btn-primary") }}
                </div>
            </div>
            <script>
                document.getElementById("btnApplyPayment").addEventListener("click", function () {
                    document.getElementById("lblPaymentRemaining").innerHTML = document.getElementById("payment_amount").value;
                    console.log("hi");

                    // var some_var = '{{ open_invoices | safe }}';
                    // some_var.replaceAll("&#39;", "\"");
                    // console.log(some_var);
                    // var your_js_array = Array.from(JSON.parse(some_var));
                    // console.log(your_js_array);

                    // console.log('{{open_invoices | length }}');
                    // for (let i = 0; i < '{{open_invoices | length }}'; i++) {
                    //     console.log('{{open_invoices[0]["invoice_id"] }}');
                    //     // text += cars[i] + "<br>";
                    // }

                });
            </script>
        </form>

    </div>
</div>