<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5">Apply Payment</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="applyPayment" name="applyPayment" method="POST">
            {{ apply_payment_form.csrf_token() }}
            <div class="modal-body">
                <!-- Payment Information -->
                <h6>Payment Information</h6>
                <div>
                    <div class="row">
                        <div class="input-group mb-3 col">
                            {{ apply_payment_form.payment_method.label(class="input-group-text w-50") }}
                            {{ apply_payment_form.payment_method(class="form-select") }}
                        </div>
                        <div class="input-group mb-3 col">
                            {{ apply_payment_form.check_number.label(class="input-group-text w-50") }}
                            {{ apply_payment_form.check_number(class="form-control") }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group mb-3 col">
                            {{ apply_payment_form.payment_amount.label(class="input-group-text w-50") }}
                            <span class="input-group-text">$</span>
                            {{ apply_payment_form.payment_amount(class="form-control", min="0") }}
                        </div>
                        <div class="input-group mb-3 col">
                            {{ apply_payment_form.date_received.label(class="input-group-text w-50") }}
                            {{ apply_payment_form.date_received(class="form-control") }}
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" id="btnApplyPayment" type="button">Apply</button>
                    </div>
                </div>
                <div id="paymentApplication">
                    <h6>Payment Application</h6>
                    <table class="table">
                        <thead class="text-center">
                            <th>#</th>
                            <th>Created Date</th>
                            <th>Current Owed</th>
                            <th>Applied</th>
                            <th>Remaining</th>
                            <th>Status</th>
                        </thead>
                        <tbody>
                            {% if open_invoices|length == 0 %}
                            <tr>
                                <td class="text-center" colspan="100%">
                                    No billable invoices found on this project
                                </td>
                            </tr>
                            {% else %}
                            {% for invoice in open_invoices %}
                            <tr class="text-center align-items-center">
                                <td>{{ invoice['invoice_number'] }}
                                    {{ apply_payment_form.invoice_id(
                                    id=invoice['invoice_id']|string,
                                    value=invoice['invoice_id'])
                                    }}
                                </td>
                                <td>{{ invoice['created_date'].strftime('%m/%d/%Y') }}</td>
                                <td>{{ "${:,.2f}".format(invoice['payment_remaining']) }}</td>
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input id="txtInvoiceApplyPayment{{ invoice['invoice_id']|string }}"
                                            class="form-control form-control-sm text-center" value="$0.00" disabled>
                                        {{ apply_payment_form.amount_applied(
                                        id="invoiceApplyPayment"+invoice['invoice_id']|string
                                        ) }}
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input id="txtInvoiceAmountRemaining{{ invoice['invoice_id']|string }}"
                                            class="form-control form-control-sm text-center" value="$0.00" disabled>
                                        {{ apply_payment_form.amount_remaining(
                                        id="invoiceAmountRemaining"+invoice['invoice_id']|string
                                        ) }}
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input id="txtInvoiceStatus{{ invoice['invoice_id']|string }}"
                                            class="form-control form-control-sm text-center" value="" disabled>
                                        {{ apply_payment_form.invoice_status(
                                        id="invoiceStatus"+invoice['invoice_id']|string
                                        ) }}
                                        <!-- <input id="invoiceStatus{{invoice['invoice_id']|string}}" type="text"
                                            class="form-control form-control-sm text-center" disabled> -->
                                    </div>
                                </td>
                            </tr>

                            {% endfor %}
                            <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
                            <script>
                                $(document).ready(function () {
                                    $("#btnApplyPayment").on("click", function (e) {
                                        var url = "{{ url_for('apply_payment', project_id=project['project_id']) }}";
                                        $.ajax({
                                            type: "POST",
                                            url: url,
                                            data: $('#applyPayment').serialize(), // serializes the form's elements.
                                            success: function (data) {
                                                // console.log(data)  // display the returned data in the console.
                                                let formatting_options = {
                                                    style: 'currency',
                                                    currency: 'USD',
                                                    minimumFractionDigits: 2,
                                                }
                                                let dollarString = new Intl.NumberFormat("en-US", formatting_options);
                                                for (var i = 0; i < data.length; i++) {
                                                    var invoice_id = data[i]["invoice_id"];
                                                    var amount_applied = document.getElementById("txtInvoiceApplyPayment" + String(invoice_id));
                                                    var amount_applied_hidden = document.getElementById("invoiceApplyPayment" + String(invoice_id));
                                                    var amount_remaining = document.getElementById("txtInvoiceAmountRemaining" + String(invoice_id));
                                                    var amount_remaining_hidden = document.getElementById("invoiceAmountRemaining" + String(invoice_id));
                                                    var status = document.getElementById("txtInvoiceStatus" + String(invoice_id));
                                                    var status_hidden = document.getElementById("invoiceStatus" + String(invoice_id));

                                                    amount_applied.value = dollarString.format(data[i]["amount_received"]);
                                                    amount_applied_hidden.value = parseFloat(data[i]["amount_received"]);
                                                    amount_remaining.value = dollarString.format(data[i]["amount_remaining"]);
                                                    amount_remaining_hidden.value = parseFloat(data[i]["amount_remaining"]);
                                                    status.value = data[i]["invoice_status"];
                                                    status_hidden.value = data[i]["invoice_status"];
                                                }

                                            }
                                        });
                                        e.preventDefault(); // block the traditional submission of the form.
                                    });

                                    // Inject our CSRF token into our AJAX request.
                                    $.ajaxSetup({
                                        beforeSend: function (xhr, settings) {
                                            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                                                xhr.setRequestHeader("X-CSRFToken", "{{ apply_payment_form.csrf_token._value() }}")
                                            }
                                        }
                                    })
                                });
                            </script>
                            {% endif %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="100%">
                                    <div class="input-group mb-3">
                                        {{ apply_payment_form.payment_note.label(class="input-group-text") }}
                                        {{ apply_payment_form.payment_note(class="form-control") }}
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    {{ apply_payment_form.apply_payment(class="btn btn-primary") }}
                </div>
            </div>
        </form>
    </div>
</div>