<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fiat Plumbing - Clients</title>

    {% include 'bootstrap.html' %}

    <style>
        * {
            font-family: "Raleway", sans-serif;
        }

        .projectRow:hover {
            cursor: pointer;
        }
    </style>
</head>

<body>
    {% include 'nav.html' %}

    <div class="container pt-4">
        <div class="row align-items-center mb-4">
            <div class="col">
                <h1 class="display-5">{{ client['name'] }}</h1>
            </div>
            <div class="col-2 text-end">
                <a class="btn btn-sm btn-primary" href="{{ url_for('project_add')}}">Edit Information</a>
            </div>
        </div>

        <!-- Address Information -->

        <h4 class="my-3">Address Information</h4>

        <hr>
        <div>
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text border-primary text-primary" id="basic-addon1">Address</span>
                        <input type="text" class="form-control border-primary" value="{{ client['address'] }}"
                            aria-label="address" aria-describedby="basic-addon1" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text border-primary text-primary" id="basic-addon1">City</span>
                        <input type="text" class="form-control border-primary" value="{{ client['city'] }}"
                            aria-label="city" aria-describedby="basic-addon1" readonly>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text border-primary text-primary" id="basic-addon1">State</span>
                        <input type="text" class="form-control border-primary" value="{{ client['state'] }}"
                            aria-label="state" aria-describedby="basic-addon1" readonly>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text border-primary text-primary" id="basic-addon1">Zip Code</span>
                        <input type="text" class="form-control border-primary" value="{{ client['zip_code'] }}"
                            aria-label="zipCode" aria-describedby="basic-addon1" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text border-primary text-primary" id="basic-addon1">Telephone</span>
                        <input type="text" class="form-control border-primary" value="{{ client['phone_number'] }}"
                            aria-label="telephone" aria-describedby="basic-addon1" readonly>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text border-primary text-primary" id="basic-addon1">Website</span>
                        <input type="text" class="form-control border-primary" value="{{ client['website'] }}"
                            aria-label="website" aria-describedby="basic-addon1" readonly>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact Information -->
        {% if client_poc | length > 0 %}
        <h4 class="my-3">Contact Information</h4>
        <div>
            {% for poc in client_poc %}
            <hr>
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text border-primary text-primary" id="basic-addon1">Name</span>
                        <input type="text" class="form-control border-primary" value="{{ poc['name'] }}"
                            aria-label="contactName" aria-describedby="basic-addon1" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text border-primary text-primary" id="basic-addon1">Phone Number</span>
                        <input type="tel" class="form-control border-primary" value="{{ poc['telephone'] }}"
                            aria-label="phoneNumber" aria-describedby="basic-addon1" readonly>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text border-primary text-primary" id="basic-addon1">Email</span>
                        <input type="email" class="form-control border-primary" value="{{ poc['email'] }}"
                            aria-label="email" aria-describedby="basic-addon1" readonly>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <!-- Project List -->
        <div class="row my-3">
            <div class="col">
                <h4>Projects</h4>
            </div>
            <div class="col-2 text-end">
                <a class="btn btn-primary btn-sm" href="{{ url_for('project_add', client_id=client['client_id']) }}">New
                    Project</a>
            </div>
        </div>
        <hr>

        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Name</th>
                    <th class="text-center">Adddress</th>
                    <th class="text-center">City</th>
                    <th class="text-center">State</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Status Date</th>
                </tr>
            </thead>
            <tbody>
                {% for project in client_projects %}
                <tr id="{{ project['project_id'] }}" class="projectRow" onclick=rowClick(id)>
                    <td class="text-center">{{ project['project_id'] }}</td>
                    <td>{{ project['name'] }}</td>
                    <td class="text-center">{{ project['address'] }}</td>
                    <td class="text-center">{{ project['city'] }}</td>
                    <td class="text-center">{{ project['state'] }}</td>
                    <td class="text-center">{{ project['status'] | capitalize }}</td>
                    <td class="text-center">{{ project['status_date'] }}</td>
                </tr>
                <script>
                    function rowClick(project_id) {
                        window.location = "/project/" + project_id;
                    }
                </script>
                {% endfor %}
            </tbody>
        </table>

    </div>

</body>

</html>