<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="createinstallmentModalLabel">Create Invoice</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="createInvoice" name="createInvoice" method="POST">
            {{ invoice_create_form.csrf_token() }}
            <div class="modal-body">
                <h6>Select items:</h6>
                <table class="table">
                    <thead class="text-center">
                        <th></th>
                        <th>#</th>
                        <th>Description</th>
                        <th>Total Amount</th>
                        <th>Billed %</th>
                        <th>Billed Amount</th>
                    </thead>
                    <tbody>
                        {% if installments|length == 0 %}
                        <tr>
                            <td class="text-center" colspan="100%">
                                No installments found on this project
                            </td>
                        </tr>
                        {% else %}
                        {% for installment in installments %}
                        {% if installment['installment_status'] != 'Billed' %}
                        <tr class="text-center align-items-center">
                            <td>{{ invoice_create_form.installment_select(
                                class="is-valid",
                                id="installmentChk"+installment['installment_id']|string ,
                                value=installment['installment_id'],
                                ) }} </td>
                            <td>{{ installment['installment_number'] }}</td>
                            <td>{{ installment['installment_description'] }}</td>
                            <td>{{ "${:,.2f}".format(installment['installment_amount']) }}</td>
                            <td style="width:15%">
                                <div class="input-group input-group-sm">
                                    <input id="installmentBillledPercent{{ installment['installment_id'] }}"
                                        type="number" value="100" class="form-control text-end" disabled
                                        onchange="changeBilledAmount({{installment['installment_id']}}, this.value, {{installment['installment_amount'] - installment['billed_amount']}});">
                                    <span class="input-group-text">%</span>
                                </div>
                            </td>
                            <td style="width:20%">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-text">$</span>
                                    {{ invoice_create_form.billed_amount(
                                    id="installmentBilledAmount"+installment['installment_id']|string ,
                                    class="form-control text-end",
                                    value='%0.2f'| format(installment['installment_amount'] -
                                    installment['billed_amount'] | float)
                                    ) }}
                                </div>
                                <script>
                                    function changeBilledAmount(installmentID, percent, installmentAmount) {
                                        let labelElement = document.getElementById("installmentBilledAmount" + installmentID);
                                        labelElement.value =
                                            parseFloat(installmentAmount * (percent / 100)).toFixed(2);
                                    }
                                </script>
                            </td>
                        </tr>
                        {% else %}
                        <tr class="text-center align-items-center" style="display:none;">
                            <td>{{ invoice_create_form.installment_select(
                                id="installmentChk"+installment['installment_id']|string,
                                value=installment['installment_id']) }}</td>
                            <td>{{ installment['installment_number'] }}</td>
                            <td>{{ installment['installment_description'] }}</td>
                            <td>0.0</td>
                            <td style="width:15%">
                                <div class="input-group input-group-sm">
                                    <input id="installmentBillledPercent{{ installment['installment_id'] }}"
                                        type="number" value="100" class="form-control text-end"
                                        onchange="changeBilledAmount({{installment['installment_id']}}, this.value, {{installment['installment_amount']}});">
                                    <span class="input-group-text">%</span>
                                </div>
                            </td>
                            <td style="width:20%">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-text">$</span>
                                    {{ invoice_create_form.billed_amount(
                                    id="installmentBilledAmount"+installment['installment_id']|string ,
                                    class="form-control text-end",
                                    value=0
                                    ) }}
                                </div>
                                <script>
                                    function changeBilledAmount(installmentID, percent, installmentAmount) {
                                        let labelElement = document.getElementById("installmentBilledAmount" + installmentID);
                                        labelElement.value =
                                            parseFloat(installmentAmount * (percent / 100)).toFixed(2);
                                    }
                                </script>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="100%">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Note</span>
                                    <textarea class="form-control" aria-label="Insert Note"
                                        style="resize: none;"></textarea>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col">
                        <div id="validationSelectInstallment" class="invalid-feedback" style="display: none;">
                            Please choose at least one installment.
                        </div>
                    </div>
                    <div class="col">
                        {{ invoice_create_form.create(class="btn btn-primary") }}
                    </div>
                </div>

            </div>
        </form>
        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (() => {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.from(forms).forEach(form => {
                    form.addEventListener('submit', event => {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
            })()
        </script>
        <script>
            // Select all checkboxes with the name 'settings' using querySelectorAll.
            var checkboxes = document.querySelectorAll("input[type=checkbox]");

            // Use Array.forEach to add an event listener to each checkbox.
            checkboxes.forEach(function (checkbox) {
                checkbox.addEventListener('change', function () {
                    document.getElementById("installmentBillledPercent" + checkbox.value).disabled = !checkbox.checked;
                })
            });
        </script>
    </div>
</div>