<html>

<head>
    <title>Fiat Plumbing</title>

    {% include 'bootstrap.html' %}

    <style>
        * {
            font-family: "Raleway", sans-serif;
        }

        .projectRow:hover {
            cursor: pointer;
        }
    </style>


</head>

<body>
    {% include 'nav.html' %}

    <div class="container p-3">
        <div>
            <form method="GET" action="{{url_for('search')}}">
                <!-- Search -->
                <div class="input-group my-3">
                    <button id="selectSearchBy" class="btn btn-outline-primary dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Search By</button>
                    <ul class="dropdown-menu">
                        <li><a id="contractNumber" class="dropdown-item" href="#"
                                onclick="changeSearchBy('contractNumber')">Contract Number</a></li>
                        <li><a id="invoiceNumber" class="dropdown-item" href="#"
                                onclick="changeSearchBy('invoiceNumber')">Invoice Number</a></li>
                        <li><a id="clientName" class="dropdown-item" href="#"
                                onclick="changeSearchBy('clientName')">Client
                                Name</a></li>
                    </ul>
                    <script>
                        function changeSearchBy(item) {
                            document.getElementById("selectSearchBy").innerHTML = document.getElementById(item).innerHTML;
                        }
                    </script>
                    <input type="text" class="form-control" placeholder="Search criteria" aria-label="Search criteria"
                        aria-describedby="button-search">
                    <a class="btn btn-outline-primary" type="button" id="button-search"
                        href="{{url_for('search')}}">Search</a>
                    <script>
                        function SomeFunc() {
                            fetch(`/search`)
                                .then(function (response) {
                                    return response.text();

                                }).then(function (text) {
                                    // document.getElementById(index).innerText = '👍 ' + text;
                                });
                        }
                    </script>

                </div>

                <!-- Search Results -->
                <!-- <div class="collapse" id="searchResults">
                    {% include 'search_results.html' %}
                </div> -->
            </form>

            <hr class="mt-4">

            <!-- Project Info -->
            <h4 class="mt-4">Projects</h4>
            <hr>
            <div class="container text-center">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Client</th>
                            <th scope="col">Project</th>
                            <th scope="col">Date</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                        <tr class="projectRow" onclick="window.location='project.html';">
                            <th scope="row">{{ project['project_id'] }}</th>
                            <td>{{ project['clients.name']}}</td>
                            <td>{{ project['name'] }}</td>
                            <td>01/01/2024</td>
                            <td>$2,000.00</td>
                            <td>{{ project['status'] | capitalize }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Employees -->
            <!-- <h4 class="mt-5">Employees</h4>
            <hr>
            <div class="container text-center">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Next Scheduled Date</th>
                            <th scope="col">Last Date Work</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ronald McDonald</td>
                            <td>01/02/2024</td>
                            <td>12/30/2023</td>
                        </tr>
                        <tr>
                            <td>Lionel Messi</td>
                            <td>01/02/2024</td>
                            <td>12/30/2023</td>
                        </tr>
                        <tr>
                            <td>Lucas DeMello</td>
                            <td>02/01/2024</td>
                            <td>01/02/2024</td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
        </div>
    </div>
</body>

</html>