<!DOCTYPE html>
<html>

<head>
    <title>{{project_info['project_id'] }} - Invoice #{{ installment_number }} </title>
    <!-- <link rel="icon" type="image/x-icon" href="/static/clock.png"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->

    {% include 'bootstrap.html' %}
    <style media="print">
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html,
        body {
            height: 99%;
            font-size: 10pt;
        }

        body {
            min-width: 100vw;
            margin: 0;
        }

        .printArea {
            min-width: 100%;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            right: 0;
            margin-bottom: 15px;
        }

        #formBody {
            height: 9%;
        }

        #navBar {
            display: none;
        }

        #print-icon {
            display: none;
        }
    </style>

    <style>
        .footer {
            left: 0;
            bottom: 0;
            right: 0;
            margin-bottom: 10px;
        }
    </style>

</head>

<body>
    <div id="navBar">
        {% include 'nav.html' %}
    </div>

    <div id="formBody" class="container mx-20 printArea border-black">
        <div class="text-start">
            <!-- Header -->
            <div class="row align-items-center">
                <div class="col">
                    <img src="/static/logo.png" alt="Logo" class="d-inline-block align-text-top me-2">
                </div>
                <div id="print-icon" class="col text-end">
                    <button class="btn btn-primary btn-lg" onclick="window.print()">
                        <i class="fa-solid fa-file-pdf"></i></i></button>
                </div>
            </div>
            <div class=" row mt-3">
                <h1 class="display-2 col-7">Invoice</h1>
                <div class="col-4">
                    <div class="row justify-content-end">
                        <div class="col-5 fw-bold">Date:</div>
                        <div class="col-4 text-center">{{ today_date }}</div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-5 fw-bold">Invoice #:</div>
                        <div class="col-4 text-center">{{ installment_number }}</div>
                    </div>
                </div>
            </div>

            <!-- Mailing/Billing Info -->
            <div class="row mt-3">
                <div class="col">
                    <div class="row">
                        <div class="col-3 fw-bold border-end border-2">Mailing Info</div>
                        <div class="col">
                            <label class="fw-semibold">{{ fiat_plumbing['company_name'] }}</label><br>
                            {{ fiat_plumbing['address'] }}</label><br>
                            {{ fiat_plumbing['city'] }}, {{ fiat_plumbing['state'] }} {{ fiat_plumbing['zip_code']
                            }}<br>
                            <label class="fw-medium">Phone #:</label> {{ fiat_plumbing['phone_number'] }}<br>
                            <div class="fs-6">
                                <label class="fw-medium">Email:</label> {{ fiat_plumbing['email'] }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-3 fw-bold border-end border-2">Billing Info</div>
                        <div class="col">
                            <label class="fw-semibold">{{ client_info['name'] }}</label><br>
                            {{ client_info['address'] }}</label><br>
                            {{ client_info['city'] }}, {{ client_info['state'] }}
                            {{ client_info['zip_code'] }}<br>
                            <label class="fw-medium">Phone #:</label> {{ client_info['phone_number'] }}<br>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Info -->
            <div class="mt-5">
                <table class="table table-sm text-center table-bordered">
                    <thead>
                        <th>Project ID</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Due Date</th>
                    </thead>
                    <tbody>
                        <td>{{ project_info['project_id'] }}</td>
                        <td>{{ project_info['name'] }}</td>
                        <td>{{ project_info['address'] }}, {{ project_info['city'] }}, {{ project_info['state'] }}
                            {{
                            project_info['zip_code'] }}</td>
                        <td>01/01/2024</td>
                    </tbody>
                </table>
            </div>

            <!-- Invoice Line Items -->
            <div class="mt-5">
                <table class="table mb-4">
                    <thead>
                        <th class="text-center">Installment</th>
                        <th>Description</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <th class="text-center">Item Amount</th>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for invoice in invoice_info %}
                        <tr>
                            <td class="text-center">{{invoice['installment_number']}}</td>
                            <td>{{invoice['installment_description']}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-center">{{invoice['installment_amount'] | format_currency | string}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot class="table-group-divider">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-end fst-italic">Total:</td>
                            <td class="text-center">{{ invoice_total | format_currency | string }}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <!-- Invoice Footer -->
        <div class="container footer printArea border-top border-2 border-black">
            <div class="mt-2 mb-5">
                <div class="float-start">
                    <label class="fw-medium">Thank you for your business!</label>
                </div>
                <div class="fw-semibold text-decoration-underline d-flex float-end">
                    <label>Payment Due Upon Receipt</label>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-5">
                    <label class="fw-medium">Please make checks payable to:</label>
                </div>
                <div class="col">
                    {{ fiat_plumbing['company_name'] }}
                </div>
            </div>
        </div>
</body>

</html>