<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fiat Plumbing - {{ project['name'] }}</title>

    {% include 'bootstrap.html' %}


    <style>
        * {
            font-family: "Raleway", sans-serif;
        }
    </style>
</head>

<body>
    {% include 'nav.html' %}

    <div class="container pt-4">
        <h1 class="mb-4 display-5">{{ project['name'] }}</h1>

        <!-- Project Info -->
        <div>
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Contract #</span>
                        <input type="text" class="form-control" value="{{ project['project_id'] }}" aria-label="address"
                            aria-describedby="basic-addon1" readonly>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Client</span>
                        <input type="text" class="form-control" value="{{ project['clients.name'] }}"
                            aria-label="address" aria-describedby="basic-addon1" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Project Status</span>
                        <input type="text" class="form-control" value="{{ project['status'] | capitalize }}"
                            aria-label="address" aria-describedby="basic-addon1" readonly>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Status Date</span>
                        <input type="text" class="form-control"
                            value="{{ project['status_date'].strftime('%m/%d/%Y') }}" aria-label="address"
                            aria-describedby="basic-addon1" readonly>
                    </div>
                </div>
            </div>
        </div>

        <!-- Location Info -->
        <h4 class="my-3">Location Information</h4>
        <hr>
        <div>
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Address</span>
                        <input type="text" class="form-control" value="{{ project['address'] }}" aria-label="address"
                            aria-describedby="basic-addon1" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">City</span>
                        <input type="text" class="form-control" value="{{ project['city'] }}" aria-label="city"
                            aria-describedby="basic-addon1" readonly>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">State</span>
                        <input type="text" class="form-control" value="{{ project['state'] }}" aria-label="state"
                            aria-describedby="basic-addon1" readonly>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Zip Code</span>
                        <input type="text" class="form-control" value="{{ project['zip_code'] }}" aria-label="zipCode"
                            aria-describedby="basic-addon1" readonly>
                    </div>
                </div>
            </div>
        </div>

        <!-- Permits -->
        <h4 class="my-3">Permit Information</h4>
        <hr>
        <div>
            <div class="row">
                <div class="col">
                    {% if master_permit %}
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Master Permit</span>
                        <input type="text" class="form-control" value="{{ master_permit['permit_number'] }}"
                            aria-label="address" aria-describedby="basic-addon1" readonly>
                        <!-- <button class="btn btn-outline-primary" type="button" id="button-addon2">Add</button> -->
                    </div>
                    {% else %}
                    <form method="POST">
                        <div class="input-group mb-3">
                            {{ master_form.hidden_tag() }}
                            {{ master_form.master_permit.label(class="input-group-text") }}
                            {{ master_form.master_permit(class="form-control") }}
                            {{ master_form.add(class="btn btn-outline-primary")}}

                        </div>
                    </form>
                    {% endif %}
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Plumbing Permit</span>
                        <input type="text" class="form-control" value="{{ plumbing_permit['permit_number'] }}"
                            aria-label="city" aria-describedby="basic-addon1" readonly>
                        <button class="btn btn-outline-primary" type="button" id="button-addon2">Request</button>
                    </div>
                </div>
                <!-- <div class="col-1 text-end">
                    <button class="btn btn-primary">Request</button>
                </div> -->
            </div>
        </div>

        <hr>

        <!-- Submenu Nav -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="notes-tab" data-bs-toggle="tab" data-bs-target="#notes-tab-pane"
                    type="button" role="tab" aria-controls="notes-tab-pane" aria-selected="true">Notes</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="invoices-tab" data-bs-toggle="tab" data-bs-target="#invoices-tab-pane"
                    type="button" role="tab" aria-controls="invoices-tab-pane" aria-selected="false">Invoices</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="inspections-tab" data-bs-toggle="tab"
                    data-bs-target="#inspections-tab-pane" type="button" role="tab" aria-controls="inspections-tab-pane"
                    aria-selected="false">Inspections</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="documents-tab" data-bs-toggle="tab" data-bs-target="#documents-tab-pane"
                    type="button" role="tab" aria-controls="documents-tab-pane" aria-selected="false">Documents</button>
            </li>
        </ul>

        <!-- Subsections -->
        <div class="tab-content" id="myTabContent">
            <!-- Notes -->
            <div class="tab-pane fade show active" id="notes-tab-pane" role="tabpanel" aria-labelledby="notes-tab"
                tabindex="0">
                <div class="ratio ratio-16x9">
                    <!-- <iframe class="w-100 h-100" src="project_notes.html" frameborder="0"></iframe> -->
                    {% include 'project_notes.html' %}
                </div>
            </div>

            <!-- Invoices -->
            <div class="tab-pane fade" id="invoices-tab-pane" role="tabpanel" aria-labelledby="invoices-tab"
                tabindex="0">
                <div class="ratio ratio-16x9">
                    <!-- <iframe class="w-100" src="project_invoices.html" frameborder="0"></iframe> -->
                    {% include 'project_invoices.html' %}
                </div>
            </div>

            <!-- Documents -->
            <div class="tab-pane fade" id="documents-tab-pane" role="tabpanel" aria-labelledby="documents-tab"
                tabindex="0">
                <div class="ratio ratio-16x9">
                    <!-- <iframe class="w-100" src="project_documents.html" frameborder="0"></iframe> -->
                    {% include 'project_documents.html' %}
                </div>
            </div>

            <!-- Permits -->
            <div class="tab-pane fade" id="permits-tab-pane" role="tabpanel" aria-labelledby="permits-tab" tabindex="0">
                <div class="ratio ratio-16x9">
                    <h3>Coming Soon</h3>
                </div>
            </div>
        </div>
    </div>
    {% include 'flash_message.html' %}
</body>

</html>