<!-- Project Info -->
<form method="get" action="{{url_for('search')}}" class="needs-validation mt-0 mb-4" novalidate>
    <!-- Search -->
    {% include 'search.html' %}
</form>
<div class="row">
    <div class="col">
        <p class="fs-3 lh-1">Projects</p>
    </div>
    <div class="col-2 text-end">
        <a class="btn btn-sm btn-primary" href="{{ url_for('project_add')}}">Add Project</a>
    </div>
</div>
<hr>
<div class="container text-center">
    <table class="table table-hover">
        <thead>
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Project</th>
                <th scope="col">Client</th>
                <th scope="col">Date</th>
                <!-- <th scope="col">Amount</th> -->
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr id="{{project['project_id']}}" class="projectRow text-center" tabindex="0"
                onclick="rowClick(this.id)"
                onkeydown="if(event.key==='Enter'||event.key===' ')rowClick(this.id)">
                <td scope="row">{{ project['project_id'] }}</td>
                <td>{{ project['name'] }}</td>
                <td>{{ project['client_name']}}</td>
                <td>{{ project['status_date'].strftime('%m/%d/%Y') }}</td>
                <td>{{ project['status'] | title }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        function rowClick(project_id) {
            window.location = "/project/" + project_id;
        }
    </script>
</div>