<style>
    * { font-family: "Raleway", sans-serif; }
</style>

<!-- Notes -->
<div class="mt-2">
    <div class="list-group list-group-flush mb-3">
        {% if notes|length == 0 %}
        <div class="list-group-item text-center text-muted">No notes have been submitted</div>
        {% else %}
        {% for note in notes %}
        <div class="list-group-item">
            <div class="text-muted small">
                {{ note['first_name'] }} {{ note['last_name'] }} &middot; {{ note['comment_date'].strftime('%m/%d/%Y') }}
            </div>
            <div class="fst-italic mt-1">{{ note['comment'] }}</div>
        </div>
        {% endfor %}
        {% endif %}
    </div>

    <!-- Add Comment/Note -->
    <p class="d-inline-flex gap-1">
        <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Add Comment/Note
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <form id="projectNotesForm" method="POST" enctype="multipart/form-data">
                {{ project_notes_form.hidden_tag() }}

                <div class="input-group mb-3">
                    {{ project_notes_form.project_note.label(class="input-group-text") }}
                    {{ project_notes_form.project_note(class="form-control", required=True) }}
                </div>

                <div class="text-end">
                    {{ project_notes_form.project_note_submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>