<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

    <style>
        * {
            font-family: "Raleway", sans-serif;
        }
    </style>
</head>



<body>
    <!-- Documents -->
    <div>
        <table class="table table-striped mt-2">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="text-center">Type</th>
                    <th class="text-center">Date</th>
                    <th class="text-center"></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Proposal/Contract</td>
                    <td class="text-center">Document</td>
                    <td class="text-center">01/01/2024</td>
                    <td class="text-center">
                        <a class="btn btn-sm btn-primary" href="Proposal - Goldstein Res.pdf" target="_blank">View</a>
                    </td>
                </tr>
                <tr>
                    <td>Floor Plan</td>
                    <td class="text-center">Document</td>
                    <td class="text-center">01/01/2024</td>
                    <td class="text-center">
                        <a class="btn btn-sm btn-primary" href="Plan - Plumbing.pdf" target="_blank">View</a>
                    </td>
                </tr>
                <tr>
                    <td>Bathroom</td>
                    <td class="text-center">Picture</td>
                    <td class="text-center">01/01/2024</td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-primary">View</button>
                    </td>
                </tr>
                <tr>
                    <td>Change of Order</td>
                    <td class="text-center">Document</td>
                    <td class="text-center">01/01/2024</td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-primary">View</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>