<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fiat Plumbing - Clients</title>

    {% include 'bootstrap.html' %}

    <style>
        * {
            font-family: "Raleway", sans-serif;
        }

        .contractRow:hover {
            cursor: pointer;
        }
    </style>
</head>

<body>
    {% include 'nav.html' %}
    <div class="container pt-4">
        <h2 class="mb-1">Add New Project</h2>
        <hr />
        <form method="POST">
            {{ form.hidden_tag() }}

            <!-- Project Information -->
            <h4 class="mt-3">Project Information</h4>

            <div>
                <div class="row">
                    <!-- Contract Number -->
                    <div class="col-4">
                        <div class="input-group mb-3">
                            {{ form.project_id.label(class="input-group-text")}}
                            {{ form.project_id(class="form-control") }}
                        </div>
                    </div>
                    <!-- Contract Name -->
                    <div class="col">
                        <div class="input-group mb-3">
                            {{ form.name.label(class="input-group-text")}}
                            {{ form.name(class="form-control") }}
                        </div>
                    </div>
                </div>

                <!-- Client -->
                <div class="input-group mb-2">
                    {{ form.client.label(class="input-group-text") }}
                    <select class="form-select" name="client" id="client">
                        {% if client %}
                        <option value="{{ client['client_id'] }}" disabled selected>{{ client['name'] }}</option>
                        {% else %}
                        {% for option in form.client %}
                        {% if loop.first %}
                        <option value="" disabled selected>Select Client</option>
                        {% endif %}
                        {{ option }}
                        {% endfor %}
                        {% endif %}
                    </select>
                </div>

                <!-- Location Information -->
                <hr>
                <h4 class="my-3">Location Information</h4>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            {{ form.address.label(class="input-group-text")}}
                            {{ form.address(class="form-control") }}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group mb-3">
                            {{ form.zip_code.label(class="input-group-text")}}
                            {{ form.zip_code(class="form-control", id="txtZipCode") }}
                            <button class="btn btn-outline-primary" type="button" id="btnAutoFill">Auto Fill</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            {{ form.city.label(class="input-group-text")}}
                            {{ form.city(class="form-control", id="txtCity") }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            {{ form.state.label(class="input-group-text") }}
                            <select class="form-select" name="state" id="state">
                                {% for option in form.state %}
                                {% if loop.first %}
                                <option value="" disabled selected>Select State</option>
                                {% endif %}
                                {{ option }}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            {{ form.county.label(class="input-group-text")}}
                            {{ form.county(class="form-control", id="txtCounty") }}
                        </div>
                    </div>
                </div>
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script type="text/javascript">
                    $(function () {
                        $('#btnAutoFill').on('click', function (e) {
                            var zip_code = $('#txtZipCode').val();
                            e.preventDefault()
                            $.getJSON('/populateCityStateCounty',
                                { "zip_code": zip_code },
                                function (data) {
                                    $('#txtCity').val(data["primary_city"]);
                                    $('#state').val(data["state"]);
                                    $('#txtCounty').val(data["county"]);
                                });
                            return false;
                        });
                    });
                </script>
            </div>

            <div class="text-center mt-3">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>

</body>

</html>