<!DOCTYPE html>
<html>

<head>
    <title></title>

    {% include 'bootstrap.html' %}
    <style media="print">
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html,
        body {
            height: 99%;
            font-size: 10pt;
        }

        .new-page {
            page-break-before: always;
        }

        body {
            min-width: 100vw;
            margin: 0;
        }

        .printArea {
            min-width: 100%;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            right: 0;
            margin-bottom: 15px;
        }

        #formBody {
            height: 9%;
        }

        #navBar {
            display: none;
        }

        #finalizeButton {
            display: none;
        }
    </style>

    <style>
        * {
            font-family: Georgia;
            color: black;
        }

        #formBody {
            font-size: 12pt;
        }

        li.no-bullets {
            list-style-type: none;
        }

        .signature {
            border: none;
            border-bottom: 1px solid black;
        }

        .footer {
            left: 0;
            bottom: 0;
            right: 0;
            margin-bottom: 10px;
        }
    </style>

    <!-- <input type="hidden" id="projectInfo" value="{{ project_info }}">
    <input type="hidden" id="clientInfo" value="{{ client_info }}">
    <input type="hidden" id="proposalNotes" value="{{ proposal_notes }}">
    <input type="hidden" id="proposalTotal" value="{{ proposal_total }}">
    <input type="hidden" id="proposalTotalWords" value="{{ proposal_total_words }}">
    <input type="hidden" id="proposalInstallments" value="{{ proposal_installments }}"> -->

</head>

<body>
    <div id="formBody" class="container mx-20 printArea border-black">
        <div class="text-center">
            <!-- Header -->
            <div class="row align-items-center text-start">
                <div class="col">
                    <img src="/static/logo.png" alt="Logo" class="d-inline-block align-text-top me-2 h-auto">
                </div>
            </div>
            <div class="text-center">
                <h3><strong>FIAT PLUMBING</strong></h3>
                <h3><strong>AND GENERAL CONTRACTOR, INC.</strong></h3>
                <h5>2727 SW 36 AVENUE</h5>
                <h5>MIAMI, FLORIDA 33133</h5>
                <h5>PHONE:(305) 446-6366 FAX:(305) 774-7033</h5>
                <h5>afiat@aol.com or afiat59@gmail.com</h5>
                <h5>{{ project_info['project_id'] }}</h5>
            </div>
        </div>

        <div><strong>09/03/2024</strong></div>
        <p></p>

        <strong>
            <!-- Client Info -->
            <div>
                <div class="row">
                    <div class="col-1">To:</div>
                    <div class="col">{{ client_info['name'] }}</div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col">{{ client_info['address'] }}</div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col">
                        {{ client_info['city'] }}, {{ client_info['state'] }} {{ client_info['zip_code'] }}
                    </div>
                </div>
            </div>

            <p></p>

            <!-- Project Address -->
            <div>
                <div class="row">
                    <div class="col-1">Job:</div>
                    <div class="col">{{ project_info['address'] }}</div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col">
                        {{ project_info['city'] }}, {{ project_info['state'] }} {{ project_info['zip_code'] }}
                    </div>
                </div>
            </div>
        </strong>

        <br>
        <br>

        <div>We, hereby, submit specification and estimates for the following:</div>
        <br>

        <!-- Bid Price -->
        <ul class="mb-3 ms-4">
            <li><strong><u>BID PRICE INCLUDES THE FOLLOWING:</u></strong></li>
            <li class="no-bullets mt-2">Install plumbing as per plans dated 09/08/2021</li>
        </ul>
        <p></p>

        <!-- Fixture Info -->
        <ul class="mb-4 ms-4">
            <li><strong><u>FIXTURE <em>(WHERE APPLICABLE)</em> TO BE AS FOLLOWS:</u></strong></li>
            <li class="no-bullets mt-2">To be supplied by owner</li>
        </ul>
        <p></p>

        <!-- Notes -->
        <ul class="mb-3 ms-4">
            <li class="no-bullets"><strong><u>NOTES:</u></strong></li>
            <li>PRICE BASED ON BIDDING PLANES DATE 09/03/2024</li>
            <li>LEAD ROOF STACKS BY OTHERS</li>
            <li><strong>A/C CONDENSATE DRAINS ARE INCLUDED</strong></li>
            <li>FIRE COLLARS, <em>WHERE APPLICABLE</em></li>
            <li>FIRE STOPPING BY OTHER</li>
            <li><strong>PERMIT FEES NOT INCLUDED IN PRICE</strong></li>
            <li><strong>CONCRETE CUTTING AND CORE DRILLING ARE NOT INCLUDED</strong></li>
            {% for proposal_note in proposal_notes %}
            <li>{{ proposal_note['note'] | upper }}</li>
            {% endfor %}
        </ul>

        <p class="new-page">
            We, hereby, propose to furnish labor and materials - complete in accordance with the above specifications,
            for the sum of <strong><u>{{ proposal_total_words | upper}} DOLLARS ({{
                    "${:,.2f}".format(proposal_total | float) }})</u></strong>
        </p>

        <!-- Installment Info -->
        <div class="mt-2">
            To be paid as follows:
            <ul class="no-bullets">
                {% for proposal_installment in proposal_installments %}
                <li>
                    <strong>
                        <div class="row">
                            <div class="col-2">
                                Payment {{ proposal_installment['installment_number'] }}:
                            </div>
                            <div class="col">
                                {{ "${:,.2f}".format(proposal_installment['installment_amount'] | float ) }} at
                                {{
                                proposal_installment['installment_category'] }}
                            </div>
                        </div>
                    </strong>
                </li>
                {% endfor %}
            </ul>
        </div>

        <p>
            All material is guaranteed to be as specified. All work to be completed in a workmanlike manner according to
            standards practices.
            Any alteration or deviation from above specifications involving extra cost, will be executed only upon
            written orders, and will become
            an extra charge over and above the estimate. All agreements are contingent upon strikes, accidents or delays
            beyond our control. This proposal
            is subject to acceptance within <strong><u>30 days</u></strong> and is void thereafter at the option of the
            undersigned.
        </p>

        <p>
            If you should have any further questions, please feel free to contact me at (305)446-6366.
        </p>

        <input class="signature"><br>
        Jorge A. Fiat<br>
        President

        <div class="mt-5">
            <div class="text-center"><strong><u>ACCEPTANCE OF PROPOSAL</u></strong></div>
            <p>The above prices, specification and condition are hereby accepted. You are authorized to do the work as
                specified. Payment will be made as outlined above.
            </p>
            <div class="row">
                <div class="col-2">ACCEPTED BY:</div>
                <div class="col"><input class="signature"></div>
                <div class=" col-2">DATE:</div>
                <div class="col"><input class="signature"></div>
            </div>
        </div>

        <div class="text-center my-3">
            <button id="finalizeButton" class="btn btn-primary" onclick="window.print()">Create Proposal</button>
            <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
            <script>
                $(document).ready(function () {
                    $("#finalizeButton").click(function () {
                        console.log("hi");
                        // var myData = {
                        //     projectInfo: $("#projectInfo").val(),
                        //     clientInfo: $("#clientInfo").val(),
                        //     proposalNotes: $("#proposalNotes").val(),
                        //     proposalTotal: parseFloat($("#proposalTotal").val()),
                        //     proposalTotalWords: $("#proposalTotalWords").val(),
                        //     proposalInstallments: $("#proposalInstallments").val(),
                        // };

                        // $.ajax({
                        //     type: "POST",
                        //     url: "/finalizeProposal", // Replace with your endpoint
                        //     headers: {
                        //         'Accept': 'application/json',
                        //         'Content-Type': 'application/json'
                        //     },
                        //     data: JSON.stringify(myData),
                        //     contentType: "application/json",
                        //     success: function (response) {
                        //         console.log(response); // For debugging
                        //         // Handle the response from the server
                        //         // Redirect to the PDF download link or show a success message
                        //     },
                        //     error: function (error) {
                        //         console.error(error);
                        //         // Handle errors
                        //     }
                        // });
                    });
                });
            </script>
        </div>

    </div>



</body>

</html>