<div class="modal-header">
    <h1 class="modal-title fs-4" id="modalProposalCreationLabel">Proposal Creation</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container p-3">
        <div class="row gx-5">
            <!-- Client Info -->
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Client Information</h5>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="client_name">Name</span>
                            <input type="text" class="form-control" value="{{ client['name'] }}"
                                aria-label="{{ project['client_name'] }}" aria-describedby="client_name" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="client_address">Address</span>
                            <input type="text" class="form-control"
                                value="{{ client['address'] }}, {{ client['city'] }}, {{ client['state'] }} {{ client['zip_code'] }}"
                                aria-label="{{ client['address'] }}, {{ client['city'] }}, {{ client['state'] }} {{ client['zip_code'] }}"
                                aria-describedby="client_address" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Info -->
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Project Information</h5>

                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="project_name">Name</span>
                                    <input type="text" class="form-control" value="{{ project['name'] }}"
                                        aria-label="{{ project['name'] }}" aria-describedby="project_name" readonly>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="project_id">#</span>
                                    <input type="text" class="form-control" value="{{ project['project_id'] }}"
                                        aria-label="{{ project['project_id'] }}" aria-describedby="project_id" readonly>
                                </div>
                            </div>
                        </div>


                        <div class="input-group mb-3">
                            <span class="input-group-text" id="project_address">Address</span>
                            <input type="text" class="form-control"
                                value="{{ project['address'] }}, {{ project['city'] }}, {{ project['state'] }} {{ project['zip_code'] }}"
                                aria-label="{{ project['address'] }}, {{ project['city'] }}, {{ project['state'] }} {{ project['zip_code'] }}"
                                aria-describedby="project_address" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <h3>Items</h3>
        <form>
            <!-- Items -->
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Type</span>
                        <select class="form-select" aria-label="Default select example">
                            <option selected disabled>Select item</option>
                            <option>WC - Water Closet</option>
                            <option>LV - Lavatory</option>
                            <option>SK - Sink</option>
                            <option>SH - Shower</option>
                            <option>KS - Kitchen Sink</option>
                            <option>WM - Washing Machine</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Quantity</span>
                        <input type="text" class="form-control" placeholder="How many?" aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>
                </div>

                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input type="text" class="form-control" placeholder="How much per unit?" aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>
                </div>

                <div class="col-2 text-end">
                    <button class="btn btn-primary">Add Item</button>
                </div>
            </div>

            <!-- Quantity, Amount, Add Button -->
            <!-- <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Quantity</span>
                        <input type="text" class="form-control" placeholder="How many?" aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>
                </div>

                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input type="text" class="form-control" placeholder="How much per unit?" aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>
                </div>

                <div class="col-2 text-end">
                    <button class="btn btn-sm btn-primary">Add Item</button>
                </div>
            </div> -->
        </form>

        <!-- Table with Items Added-->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Item</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-end">Amount</th>
                    <th class="text-end">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>WC - Water Closet</td>
                    <td class="text-center">2</td>
                    <td class="text-end">$1,500.00</td>
                    <td class="text-end">$3,000.00</td>
                </tr>
                <tr>
                    <td>LV - Lavatory</td>
                    <td class="text-center">2</td>
                    <td class="text-end">$1,500.00</td>
                    <td class="text-end">$3,000.00</td>
                </tr>
                <tr>
                    <td>SH - Shower</td>
                    <td class="text-center">4</td>
                    <td class="text-end">$2,000.00</td>
                    <td class="text-end">$8,000.00</td>
                </tr>
                <tr>
                    <td>SK - Sink</td>
                    <td class="text-center">1</td>
                    <td class="text-end">$1,500.00</td>
                    <td class="text-end">$1,500.00</td>
                </tr>
                <tr>
                    <td>WM - Washing Machine</td>
                    <td class="text-center">1</td>
                    <td class="text-end">$1,500.00</td>
                    <td class="text-end">$1,500.00</td>
                </tr>
                <tr>
                    <td>WH - Water Heater</td>
                    <td class="text-center">1</td>
                    <td class="text-end">$1,500.00</td>
                    <td class="text-end">$1,500.00</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="fw-semibold text-end">Total</td>
                    <td class="fw-semibold text-end">$18,500.00</td>
                </tr>
            </tfoot>
        </table>

        <hr>

        <h3>Payment Plan</h3>
        <form>
            <!-- Payment Plan -->
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Type</span>
                        <select class="form-select" aria-label="Default select example">
                            <option selected disabled>Select category</option>
                            <option>Drains</option>
                            <option>Rough, Tub, Showers</option>
                            <option>Final fixtures installation</option>
                        </select>
                    </div>
                </div>

                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input type="text" class="form-control" placeholder="Installment amount" aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>
                </div>

                <div class="col-2 text-end">
                    <button class="btn btn-primary">Add Payment</button>
                </div>
            </div>
        </form>

        <!-- Table with Payment Plan Installments -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Installment</th>
                    <th>Category</th>
                    <th class="text-end">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1st</td>
                    <td>Drains</td>
                    <td class="text-end">$7,400.00</td>
                </tr>
                <tr>
                    <td>2nd</td>
                    <td>Rough, Tub, Showers</td>
                    <td class="text-end">$7,400.00</td>
                </tr>
                <tr>
                    <td>3rd</td>
                    <td>Final fixtures installation</td>
                    <td class="text-end">$3,700.00</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td class="fw-semibold text-end">Total</td>
                    <td class="fw-semibold text-end">$18,500.00</td>
                </tr>
            </tfoot>
        </table>
        <div class="text-center mt-4">
            <button class="btn btn-primary">Create Proposal</button>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
</div>