<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script>
    function updateFixtureTable(data) {
        let formatting_options = {
            style: 'currency',
            currency: 'USD',
            minimumFractionDigits: 2,
        }
        let dollarString = new Intl.NumberFormat("en-US", formatting_options);
        var total_fixtures_cost = 0;

        var tableBody = document.getElementById("fixtureTable").querySelector("tbody");
        tableBody.innerHTML = "";

        if (data.length == 0 || data == null) {
            var newRow = document.createElement("tr");
            newRow.classList.add("text-center");

            // Create table cells for each item detail
            var deleteCell = document.createElement("td");
            deleteCell.id = "emptyFixtureRow"
            deleteCell.colSpan = "999";
            deleteCell.textContent = "Please add fixture(s)";
            newRow.appendChild(deleteCell);

            // Get the table body
            var tableBody = document.getElementById("fixtureTable").querySelector("tbody");

            // Append the new row to the table body
            tableBody.appendChild(newRow);

        }
        else {
            for (let i = 0; i < data.length; i++) {
                // Create a new table row
                var newRow = document.createElement("tr");
                newRow.classList.add("text-center");

                // Create table cells for each item detail
                var abbrCell = document.createElement("td");
                abbrCell.textContent = data[i]['fixture_abbreviation'];
                newRow.appendChild(abbrCell);

                var nameCell = document.createElement("td");
                nameCell.textContent = data[i]['fixture_name'];
                newRow.appendChild(nameCell);

                var qtyCell = document.createElement("td");
                qtyCell.textContent = data[i]['fixture_quantity'];
                newRow.appendChild(qtyCell);

                var costCell = document.createElement("td");
                costCell.textContent = dollarString.format(data[i]['fixture_cost']);
                newRow.appendChild(costCell);

                var totalCell = document.createElement("td");
                totalCell.textContent = dollarString.format(data[i]['fixture_total']);
                newRow.appendChild(totalCell);

                var deleteCell = document.createElement("td");
                var deleteButton = document.createElement("button");
                deleteButton.id = "btnDeleteFixtureLine" + data[i]['fixture_id'];
                deleteButton.setAttribute("data-fixture-id", data[i]['fixture_id']);
                deleteButton.classList.add("border-0", "bg-transparent");

                var deleteIcon = document.createElement("i");
                deleteIcon.className = "fa-solid fa-trash-can";

                deleteButton.appendChild(deleteIcon);
                deleteCell.appendChild(deleteButton);
                deleteButton.addEventListener("click", function () {
                    var fixtureID = data[data.length - 1]['fixture_id'];
                    var url = "{{ url_for('delete_proposal_fixture', fixture_id='FIXTURE_ID_REPLACE', project_id=project['project_id']) }}";
                    url = url.replace("FIXTURE_ID_REPLACE", fixtureID);
                    $.ajax({
                        type: "POST",
                        url: url,
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        data: "", // serializes the form's elements.
                        success: function (data) {
                            // console.log(data)  // display the returned data in the console.

                            updateFixtureTable(data);
                        }
                    });

                    e.preventDefault(); // block the traditional submission of the form.
                });
                newRow.appendChild(deleteCell);

                // Get the table body
                var tableBody = document.getElementById("fixtureTable").querySelector("tbody");

                // Append the new row to the table body
                tableBody.appendChild(newRow);
            }
        }
        // Get overall total
        for (var i = 0; i < data.length; i++) {
            total_fixtures_cost = total_fixtures_cost + data[i]['fixture_total'];
        }
        // console.log("Total: " + total_fixtures_cost);

        document.getElementById("proposalFixturesTotal").textContent = dollarString.format(total_fixtures_cost);
    }

    function updateNoteTable(data) {
        var tableBody = document.getElementById("noteTable").querySelector("tbody");
        tableBody.innerHTML = "";

        if (data.length == 0 || data == null) {
            var newRow = document.createElement("tr");
            newRow.classList.add("text-center");

            // Create table cells for each item detail
            var deleteCell = document.createElement("td");
            deleteCell.id = "emptyNoteRow"
            deleteCell.colSpan = "999";
            deleteCell.textContent = "Please add note(s)";
            newRow.appendChild(deleteCell);

            // Get the table body
            var tableBody = document.getElementById("noteTable").querySelector("tbody");

            // Append the new row to the table body
            tableBody.appendChild(newRow);

        }
        else {
            for (let i = 0; i < data.length; i++) {
                // Create a new table row
                var newRow = document.createElement("tr");
                newRow.classList.add("text-center");

                // Create table cells for each item detail
                var noteCell = document.createElement("td");
                noteCell.textContent = data[i]['note'];
                newRow.appendChild(noteCell);

                // Create delete button
                var deleteCell = document.createElement("td");
                var deleteButton = document.createElement("button");
                deleteButton.id = "btnDeleteNoteLine" + data[i]['note_id'];
                deleteButton.setAttribute("data-note-id", data[i]['note_id']);
                deleteButton.classList.add("border-0", "bg-transparent");

                var deleteIcon = document.createElement("i");
                deleteIcon.className = "fa-solid fa-trash-can";

                deleteButton.appendChild(deleteIcon);
                deleteCell.appendChild(deleteButton);
                deleteButton.addEventListener("click", function () {
                    var noteID = data[data.length - 1]['note_id'];
                    var url = "{{ url_for('delete_proposal_note', note_id='NOTE_ID_REPLACE', project_id=project['project_id']) }}";
                    url = url.replace("NOTE_ID_REPLACE", noteID);
                    $.ajax({
                        type: "POST",
                        url: url,
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        data: "", // serializes the form's elements.
                        success: function (data) {
                            // console.log(data)  // display the returned data in the console.

                            updateNoteTable(data);
                        }
                    });

                    e.preventDefault(); // block the traditional submission of the form.
                });
                newRow.appendChild(deleteCell);

                // Get the table body
                var tableBody = document.getElementById("noteTable").querySelector("tbody");

                // Append the new row to the table body
                tableBody.appendChild(newRow);
            }
        }
        // Get overall total
        for (var i = 0; i < data.length; i++) {
            total_fixtures_cost = total_fixtures_cost + data[i]['fixture_total'];
        }
        // console.log("Total: " + total_fixtures_cost);

        document.getElementById("proposalFixturesTotal").textContent = dollarString.format(total_fixtures_cost);
    }
</script>
<div class="modal-header">
    <h1 class="modal-title fs-4" id="modalProposalCreationLabel">Proposal Creation</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container p-3">
        <div class="row gx-5">
            <!-- Client Info -->
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Client Information</h5>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="client_name">Name</span>
                            <input type="text" class="form-control" value="{{ client['name'] }}"
                                aria-label="{{ project['client_name'] }}" aria-describedby="client_name" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="client_address">Address</span>
                            <input type="text" class="form-control"
                                value="{{ client['address'] }}, {{ client['city'] }}, {{ client['state'] }} {{ client['zip_code'] }}"
                                aria-label="{{ client['address'] }}, {{ client['city'] }}, {{ client['state'] }} {{ client['zip_code'] }}"
                                aria-describedby="client_address" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Info -->
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Project Information</h5>

                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="project_name">Name</span>
                                    <input type="text" class="form-control" value="{{ project['name'] }}"
                                        aria-label="{{ project['name'] }}" aria-describedby="project_name" readonly>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="project_id">#</span>
                                    <input type="text" class="form-control" value="{{ project['project_id'] }}"
                                        aria-label="{{ project['project_id'] }}" aria-describedby="project_id" readonly>
                                </div>
                            </div>
                        </div>


                        <div class="input-group mb-3">
                            <span class="input-group-text" id="project_address">Address</span>
                            <input type="text" class="form-control"
                                value="{{ project['address'] }}, {{ project['city'] }}, {{ project['state'] }} {{ project['zip_code'] }}"
                                aria-label="{{ project['address'] }}, {{ project['city'] }}, {{ project['state'] }} {{ project['zip_code'] }}"
                                aria-describedby="project_address" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <!-- Fixtures -->
        <h3>Items</h3>
        <form id="addFixtures" method="POST" enctype="multipart/form-data">
            {{ proposal_fixtures_form.csrf_token() }}
            {{ proposal_fixtures_form.project_id(value=project['project_id']) }}
            <!-- Add Fixture -->
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        {{ proposal_fixtures_form.fixtures.label(class="input-group-text")}}
                        <select class="form-select" name="fixture_select" id="fixture_select">
                            {% for option in proposal_fixtures_form.fixtures %}
                            {% if loop.first %}
                            <option selected disabled value="">Select Fixture</option>
                            {% endif %}
                            {{ option }}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        {{ proposal_fixtures_form.fixture_quantity.label(class="input-group-text") }}
                        {{ proposal_fixtures_form.fixture_quantity(class="form-control text-end", placeholder="0",
                        text=0,
                        min=0) }}
                    </div>
                </div>

                <div class="col">
                    <div class="input-group mb-3">
                        {{ proposal_fixtures_form.fixture_cost.label(class="input-group-text") }}
                        {{ proposal_fixtures_form.fixture_cost(class="form-control text-end", placeholder="0.00",
                        text=0.00,
                        step="0.01",
                        min=0.00)
                        }}
                    </div>
                </div>

                <div class="col-2 text-end">
                    <button class="btn btn-primary" id="btnAddFixture" type="button">Add Fixture</button>
                </div>
            </div>
        </form>
        <!-- Fixture Display Table -->
        <table id="fixtureTable" class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">Abbreviation</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Amount</th>
                    <th class="text-center">Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- Fixture Table-->
                {% if proposal_fixtures|length == 0 %}
                <tr id="emptyFixtureRow">
                    <td class="text-center" colspan="100%">
                        Please add fixture(s)
                    </td>
                </tr>
                {% else %}
                {% for fixture in proposal_fixtures %}
                <tr id="fixtureLineItem{{ fixture['fixture_id']|string }}" class="text-center">
                    <td id="lblFixtureAbbr{{ fixture['fixture_id']|string }}">
                        {{ fixture['fixture_abbreviation'] }}
                        {{ proposal_fixtures_form.fixture_id(value=fixture['fixture_id']) }}
                    </td>
                    <td id="lblFixtureName{{ fixture['fixture_id']|string }}">
                        {{ fixture['fixture_name'] }}
                    </td>
                    <td id="lblFixtureQty{{ fixture['fixture_id']|string }}">
                        {{ fixture['quantity'] }}
                    </td>
                    <td id="lblFixtureCost{{ fixture['fixture_id']|string }}">
                        {{ "${:,.2f}".format(fixture['cost_per_fixture']) }}
                    </td>
                    <td id="lblFixtureTotal{{ fixture['fixture_id']|string }}">
                        {{ "${:,.2f}".format(fixture['total_per_fixture']) }}
                    </td>
                    <td>
                        <button id="btnDeleteFixtureLine{{ fixture['fixture_id']|string }}" type="button"
                            class="border-0 bg-transparent" data-fixture-id="{{ fixture['fixture_id']|string }}">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </td>
                    <script>
                        // Delete fixture line item
                        $(document).ready(function () {
                            $("#fixtureTable").on("click", "button[id^='btnDeleteFixtureLine{{ fixture['fixture_id']|string }}']", function (e) {
                                var fixtureId = $(this).data("fixture-id");
                                var url = "{{ url_for('delete_proposal_fixture', fixture_id=fixture['fixture_id'], project_id=fixture['project_id']) }}";
                                $.ajax({
                                    type: "POST",
                                    url: url,
                                    headers: {
                                        'Accept': 'application/json',
                                        'Content-Type': 'application/json'
                                    },
                                    data: "", // serializes the form's elements.
                                    success: function (data) {
                                        // console.log(data)  // display the returned data in the console.
                                        // console.log(data.length)

                                        updateFixtureTable(data);
                                    }
                                });

                                e.preventDefault(); // block the traditional submission of the form.
                            });

                            // Inject our CSRF token into our AJAX request.
                            $.ajaxSetup({
                                beforeSend: function (xhr, settings) {
                                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                                        xhr.setRequestHeader("X-CSRFToken", "{{ apply_payment_form.csrf_token._value() }}")
                                    }
                                }
                            })
                        });


                    </script>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
            <tfoot>
                <tr class="text-center">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="fw-semibold">Total</td>
                    <td id="proposalFixturesTotal" class="fw-semibold">{{ "${:,.2f}".format(proposal_fixtures_total)
                        }}</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <script>
            var fixture_id = null;
            // Add fixture line item
            $(document).ready(function () {
                $("#addFixtures").on("click", "button[id^='btnAddFixture']", function (e) {
                    var url = "{{ url_for('add_proposal_fixture') }}";
                    var data = $('#addFixtures').serializeArray();
                    $.ajax({
                        type: "POST",
                        url: url,
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        data: data, // serializes the form's elements.
                        success: function (data) {
                            // console.log(data)  // display the returned data in the console.
                            // console.log(data.length);

                            if (data.length == 1) {
                                var tableBody = document.getElementById("fixtureTable").querySelector("tbody");
                                var rowToDelete = document.getElementById("emptyFixtureRow");
                                rowToDelete.remove();
                            }

                            let formatting_options = {
                                style: 'currency',
                                currency: 'USD',
                                minimumFractionDigits: 2,
                            }
                            let dollarString = new Intl.NumberFormat("en-US", formatting_options);
                            var total_fixtures_cost = 0;

                            // fixture_id = data[data.length - 1]['fixture_abbreviation'];

                            // Create a new table row
                            var newRow = document.createElement("tr");
                            newRow.classList.add("text-center");

                            // Create table cells for each item detail
                            var abbrCell = document.createElement("td");
                            abbrCell.textContent = data[data.length - 1]['fixture_abbreviation'];
                            newRow.appendChild(abbrCell);

                            var nameCell = document.createElement("td");
                            nameCell.textContent = data[data.length - 1]['fixture_name'];
                            newRow.appendChild(nameCell);

                            var qtyCell = document.createElement("td");
                            qtyCell.textContent = data[data.length - 1]['fixture_quantity'];
                            newRow.appendChild(qtyCell);

                            var costCell = document.createElement("td");
                            costCell.textContent = dollarString.format(data[data.length - 1]['fixture_cost']);
                            newRow.appendChild(costCell);

                            var totalCell = document.createElement("td");
                            totalCell.textContent = dollarString.format(data[data.length - 1]['fixture_total']);
                            newRow.appendChild(totalCell);

                            var deleteCell = document.createElement("td");
                            var deleteButton = document.createElement("button");
                            deleteButton.id = "btnDeleteFixtureLine" + data[data.length - 1]['fixture_id'];
                            deleteButton.type = "button";
                            deleteButton.setAttribute("data-fixture-id", data[data.length - 1]['fixture_id']);
                            deleteButton.classList.add("border-0", "bg-transparent");

                            var deleteIcon = document.createElement("i");
                            deleteIcon.className = "fa-solid fa-trash-can";

                            deleteButton.appendChild(deleteIcon);
                            deleteCell.appendChild(deleteButton);
                            deleteButton.addEventListener("click", function () {
                                var fixtureID = data[data.length - 1]['fixture_id'];
                                var url = "{{ url_for('delete_proposal_fixture', fixture_id='FIXTURE_ID_REPLACE', project_id=project['project_id']) }}";
                                url = url.replace("FIXTURE_ID_REPLACE", fixtureID);
                                $.ajax({
                                    type: "POST",
                                    url: url,
                                    headers: {
                                        'Accept': 'application/json',
                                        'Content-Type': 'application/json'
                                    },
                                    data: "", // serializes the form's elements.
                                    success: function (data) {
                                        // console.log(data)  // display the returned data in the console.

                                        updateFixtureTable(data);
                                    }
                                });

                                e.preventDefault(); // block the traditional submission of the form.
                            });
                            newRow.appendChild(deleteCell);

                            // Get the table body
                            var tableBody = document.getElementById("fixtureTable").querySelector("tbody");

                            // Append the new row to the table body
                            tableBody.appendChild(newRow);

                            // Get overall total
                            for (var i = 0; i < data.length; i++) {
                                total_fixtures_cost = total_fixtures_cost + data[i]['fixture_total'];
                            }
                            // console.log("Total: " + total_fixtures_cost);

                            document.getElementById("proposalFixturesTotal").textContent = dollarString.format(total_fixtures_cost);

                            // Reset fixture info fields
                            var fixture_select = document.getElementById("fixture_select");
                            var fixture_quantity = document.getElementById("fixture_quantity");
                            var fixture_cost = document.getElementById("fixture_cost");
                            fixture_select.selectedIndex = 0;
                            fixture_quantity.value = "";
                            fixture_cost.value = "";
                        }
                    });
                    e.preventDefault(); // block the traditional submission of the form.
                });


                // Inject our CSRF token into our AJAX request.
                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ apply_payment_form.csrf_token._value() }}")
                        }
                    }
                })
            });
        </script>

        <hr>

        <!-- Installments - Payment Plan -->
        <h3>Payment Plan</h3>
        <form id="addInstallments" method="POST" enctype="multipart/form-data">
            {{ proposal_installments_form.csrf_token() }}
            {{ proposal_installments_form.project_id(value=project['project_id']) }}
            <!-- Add Installment -->
            <div class="row mb-3">
                <div class="col-2">
                    <div class="input-group">
                        {{ proposal_installments_form.installment_number.label(class="input-group-text") }}
                        {{ proposal_installments_form.installment_number(class="form-control text-center w-25") }}
                    </div>
                </div>

                <div class="col">
                    <div class="input-group">
                        {{ proposal_installments_form.installments.label(class="input-group-text")}}
                        <select class="form-select" name="installment_select" id="installment_select">
                            {% for option in proposal_installments_form.installments %}
                            {% if loop.first %}
                            <option selected disabled value="">Add Installment</option>
                            {% endif %}
                            {{ option }}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col">
                    <div class="input-group">
                        {{ proposal_installments_form.installment_amount.label(class="input-group-text") }}
                        {{ proposal_installments_form.installment_amount(class="form-control text-end",
                        placeholder="0",
                        text=0,
                        min=0) }}
                    </div>
                </div>

                <div class="col-2 text-end">
                    <button class="btn btn-primary" id="btnAddInstallment" type="button">Add Installment</button>
                </div>
            </div>

            <!-- Table with Payment Plan Installments -->
            <table id="installmentTable" class="table table-striped">
                <thead>
                    <tr class="text-center">
                        <th>#</th>
                        <th>Category</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% if proposal_installments|length == 0 %}
                    <tr id="emptyInstallmentRow">
                        <td class="text-center" colspan="100%">
                            Please add installment(s)
                        </td>
                    </tr>
                    {% else %}
                    {% for installment in proposal_installments %}
                    <tr class="text-center">
                        <td id="lbliInstallmentNumber{{ installment['installment_id']|string }}">
                            {{ installment['installment_number'] }}
                        </td>
                        <td id="lbliInstallmentCategory{{ installment['installment_id']|string }}">
                            {{ installment['installment_category'] }}
                        </td>
                        <td id="lbliInstallmentAmt{{ installment['installment_id']|string }}">
                            {{ "${:,.2f}".format(installment['installment_amount']) }}
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td class="fw-semibold text-end">Total</td>
                        <td id="proposalInstallmentsTotal" class="fw-semibold text-center">{{
                            "${:,.2f}".format(proposal_installments_total)
                            }}</td>
                    </tr>
                </tfoot>
            </table>
        </form>
        <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#btnAddInstallment").on("click", function (e) {
                    var url = "{{ url_for('add_proposal_installment') }}";
                    var data = $('#addInstallments').serializeArray();
                    var curr_install_number = document.getElementById("installment_number").value;
                    $.ajax({
                        type: "POST",
                        url: url,
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        data: data, // serializes the form's elements.
                        success: function (data) {
                            // console.log(data)  // display the returned data in the console.
                            // console.log(data.length);

                            if (data.length == 1) {
                                var tableBody = document.getElementById("installmentTable").querySelector("tbody");
                                var rowToDelete = document.getElementById("emptyInstallmentRow");
                                rowToDelete.remove();
                            }

                            let formatting_options = {
                                style: 'currency',
                                currency: 'USD',
                                minimumFractionDigits: 2,
                            }
                            let dollarString = new Intl.NumberFormat("en-US", formatting_options);
                            var total_installments_cost = 0;

                            // Create a new table row
                            var newRow = document.createElement("tr");
                            newRow.classList.add("text-center");

                            // Create table cells for each item detail
                            var instNum = document.createElement("td");
                            instNum.textContent = data[data.length - 1]['installment_number'];
                            newRow.appendChild(instNum);

                            var instCat = document.createElement("td");
                            instCat.textContent = data[data.length - 1]['installment_category'];
                            newRow.appendChild(instCat);

                            var instAmt = document.createElement("td");
                            instAmt.textContent = dollarString.format(data[data.length - 1]['installment_amount']);
                            newRow.appendChild(instAmt);

                            // Get the table body
                            var tableBody = document.getElementById("installmentTable").querySelector("tbody");

                            // Append the new row to the table body
                            tableBody.appendChild(newRow);

                            // Get overall total
                            for (var i = 0; i < data.length; i++) {
                                total_installments_cost = total_installments_cost + data[i]['installment_amount'];
                            }
                            // console.log("Total: " + total_installments_cost);

                            document.getElementById("proposalInstallmentsTotal").textContent = dollarString.format(total_installments_cost);

                            // Reset installment info fields
                            var installment_number = document.getElementById("installment_number");
                            var installment_select = document.getElementById("installment_select");
                            var installment_amount = document.getElementById("installment_amount");
                            installment_number.value = parseInt(installment_number.value) + 1;
                            installment_select.selectedIndex = 0;
                            installment_amount.value = "";
                        }
                    });
                    e.preventDefault(); // block the traditional submission of the form.
                });

                // Inject our CSRF token into our AJAX request.
                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ apply_payment_form.csrf_token._value() }}")
                        }
                    }
                })
            });
        </script>

        <hr>

        <!-- Notes -->
        <h3>Notes</h3>
        <form id="addNotes" method="POST" enctype="multipart/form-data">
            {{ proposal_notes_form.csrf_token() }}
            {{ proposal_notes_form.project_id(value=project['project_id']) }}
            <!-- Add note -->
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        {{ proposal_notes_form.note.label(class="input-group-text") }}
                        {{ proposal_notes_form.note(class="form-control text-center") }}
                    </div>
                </div>

                <div class="col-2 text-end">
                    <button class="btn btn-primary" id="btnAddNote" type="button">Add Note</button>
                </div>
            </div>
        </form>
        <!-- Notes Display Table -->
        <table id="noteTable" class="table table-striped">
            <thead>
                <tr class="text-center">
                    <th>{{ proposal_notes_form.note.label }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if proposal_notes|length == 0 %}
                <tr id="emptyNoteRow">
                    <td class="text-center" colspan="100%">
                        Please add note(s)
                    </td>
                </tr>
                {% else %}
                {% for note in proposal_notes %}
                <tr class="text-center">
                    <td id="lblNoteNumber{{ note['note_id']|string }}">
                        {{ note['note'] }}
                        {{ proposal_notes_form.note_id(value=note['note_id']) }}
                    </td>
                    <td class="text-end">
                        <button id="btnDeleteNoteLine{{ note['note_id']|string }}" type="button"
                            class="border-0 bg-transparent" data-fixture-id="{{ note['note_id']|string }}">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </td>
                    <!-- Delete note line item -->
                    <script>
                        $(document).ready(function () {
                            $("#noteTable").on("click", "button[id^='btnDeleteNoteLine{{ note['note_id']|string }}']", function (e) {
                                var noteId = $(this).data("note-id");
                                var url = "{{ url_for('delete_proposal_note', note_id=note['note_id'], project_id=note['project_id']) }}";
                                $.ajax({
                                    type: "POST",
                                    url: url,
                                    headers: {
                                        'Accept': 'application/json',
                                        'Content-Type': 'application/json'
                                    },
                                    data: "", // serializes the form's elements.
                                    success: function (data) {
                                        // console.log(data)  // display the returned data in the console.
                                        // console.log(data.length)

                                        updateNoteTable(data);
                                    }
                                });

                                e.preventDefault(); // block the traditional submission of the form.
                            });

                            // Inject our CSRF token into our AJAX request.
                            $.ajaxSetup({
                                beforeSend: function (xhr, settings) {
                                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                                        xhr.setRequestHeader("X-CSRFToken", "{{ apply_payment_form.csrf_token._value() }}")
                                    }
                                }
                            })
                        });


                    </script>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
            <tfoot>
            </tfoot>
        </table>
        <!-- Add note line item -->
        <script>
            $(document).ready(function () {
                $("#addNotes").on("click", "button[id^='btnAddNote']", function (e) {
                    var url = "{{ url_for('add_proposal_note') }}";
                    var data = $('#addNotes').serializeArray();
                    $.ajax({
                        type: "POST",
                        url: url,
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        data: data, // serializes the form's elements.
                        success: function (data) {
                            // console.log(data)  // display the returned data in the console.
                            // console.log(data.length);

                            if (data.length == 1) {
                                var tableBody = document.getElementById("noteTable").querySelector("tbody");
                                var rowToDelete = document.getElementById("emptyNoteRow");
                                rowToDelete.remove();
                            }

                            // Create a new table row
                            var newRow = document.createElement("tr");
                            newRow.classList.add("text-center");

                            // Create table cells for each item detail
                            var noteCell = document.createElement("td");
                            noteCell.textContent = data[data.length - 1]['note'];
                            newRow.appendChild(noteCell);

                            var deleteCell = document.createElement("td");
                            var deleteButton = document.createElement("button");
                            deleteButton.id = "btnDeleteNoteLine" + data[data.length - 1]['note_id'];
                            deleteButton.type = "button";
                            deleteButton.setAttribute("data-note-id", data[data.length - 1]['note_id']);
                            deleteButton.classList.add("border-0", "bg-transparent");

                            var deleteIcon = document.createElement("i");
                            deleteIcon.className = "fa-solid fa-trash-can";

                            deleteButton.appendChild(deleteIcon);
                            deleteCell.appendChild(deleteButton);
                            deleteButton.addEventListener("click", function () {
                                var noteID = data[data.length - 1]['note_id'];
                                var url = "{{ url_for('delete_proposal_note', note_id='NOTE_ID_REPLACE', project_id=project['project_id']) }}";
                                url = url.replace("NOTE_ID_REPLACE", noteID);
                                $.ajax({
                                    type: "POST",
                                    url: url,
                                    headers: {
                                        'Accept': 'application/json',
                                        'Content-Type': 'application/json'
                                    },
                                    data: "", // serializes the form's elements.
                                    success: function (data) {
                                        // console.log(data)  // display the returned data in the console.

                                        updateNoteTable(data);
                                    }
                                });

                                e.preventDefault(); // block the traditional submission of the form.
                            });
                            newRow.appendChild(deleteCell);

                            // Get the table body
                            var tableBody = document.getElementById("noteTable").querySelector("tbody");

                            // Append the new row to the table body
                            tableBody.appendChild(newRow);

                            // Reset fixture info fields
                            var noteInput = document.getElementById("note");
                            noteInput.value = "";
                        }
                    });
                    e.preventDefault(); // block the traditional submission of the form.
                });


                // Inject our CSRF token into our AJAX request.
                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ apply_payment_form.csrf_token._value() }}")
                        }
                    }
                })
            });
        </script>

        <div id="createPDF" class="text-center mt-4">
            <a href="{{ url_for('create_proposal_pdf', project_id=project['project_id'] )}}" class="btn btn-primary"
                target=”_blank”>View PDF</a>
            <!-- <button id="btnCreateProposalPDF" class="btn btn-primary">Create Proposal</button> -->
            <!-- <script>
                $(document).ready(function () {
                    $("#createPDF").on("click", "button[id^='btnCreateProposalPDF']", function (e) {
                        var url = "{{ url_for('create_proposal_pdf', project_id=project['project_id']) }}";
                        $.ajax({
                            type: "POST",
                            url: url,
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            data: "", // serializes the form's elements.
                            success: function (data) {
                                // console.log(data)  // display the returned data in the console.
                                // console.log(data.length);
                            }
                        });
                    });
                });
            </script> -->
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
</div>