<div class="modal-header">
    <h1 class="modal-title fs-4" id="modalProposalCreationLabel">Proposal Creation</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container p-3">
        <div class="row gx-5">
            <!-- Client Info -->
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Client Information</h5>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="client_name">Name</span>
                            <input type="text" class="form-control" value="{{ client['name'] }}"
                                aria-label="{{ project['client_name'] }}" aria-describedby="client_name" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="client_address">Address</span>
                            <input type="text" class="form-control"
                                value="{{ client['address'] }}, {{ client['city'] }}, {{ client['state'] }} {{ client['zip_code'] }}"
                                aria-label="{{ client['address'] }}, {{ client['city'] }}, {{ client['state'] }} {{ client['zip_code'] }}"
                                aria-describedby="client_address" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Info -->
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Project Information</h5>

                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="project_name">Name</span>
                                    <input type="text" class="form-control" value="{{ project['name'] }}"
                                        aria-label="{{ project['name'] }}" aria-describedby="project_name" readonly>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="project_id">#</span>
                                    <input type="text" class="form-control" value="{{ project['project_id'] }}"
                                        aria-label="{{ project['project_id'] }}" aria-describedby="project_id" readonly>
                                </div>
                            </div>
                        </div>


                        <div class="input-group mb-3">
                            <span class="input-group-text" id="project_address">Address</span>
                            <input type="text" class="form-control"
                                value="{{ project['address'] }}, {{ project['city'] }}, {{ project['state'] }} {{ project['zip_code'] }}"
                                aria-label="{{ project['address'] }}, {{ project['city'] }}, {{ project['state'] }} {{ project['zip_code'] }}"
                                aria-describedby="project_address" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <h3>Items</h3>
        <form id="addFixtures" method="POST" enctype="multipart/form-data">
            {{ proposal_form.csrf_token() }}
            {{ proposal_form.project_id(value=project['project_id']) }}
            <!-- Fixtures -->
            <!-- Add Fixture -->
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        {{ proposal_form.fixtures.label(class="input-group-text")}}
                        <select class="form-select" name="fixture_select" id="fixture_select">
                            {% for option in proposal_form.fixtures %}
                            {% if loop.first %}
                            <option selected disabled value="">Select Fixture</option>
                            {% endif %}
                            {{ option }}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        {{ proposal_form.fixture_quantity.label(class="input-group-text") }}
                        {{ proposal_form.fixture_quantity(class="form-control text-end", placeholder="0", text=0,
                        min=0) }}
                    </div>
                </div>

                <div class="col">
                    <div class="input-group mb-3">
                        {{ proposal_form.fixture_cost.label(class="input-group-text") }}
                        {{ proposal_form.fixture_cost(class="form-control text-end", placeholder="0.00", text=0.00,
                        step="0.01",
                        min=0.00)
                        }}
                    </div>
                </div>

                <div class="col-2 text-end">
                    <button class="btn btn-primary" id="btnAddFixture" type="button">Add Fixture</button>
                </div>
            </div>

            <table id="fixtureTable" class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Abbreviation</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Amount</th>
                        <th class="text-center">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Fixture Table-->
                    {% if proposal_fixtures|length == 0 %}
                    <tr id="emptyFixtureRow">
                        <td class="text-center" colspan="100%">
                            Please add fixture(s)
                        </td>
                    </tr>
                    {% else %}
                    {% for fixture in proposal_fixtures %}
                    <tr class="text-center">
                        <td id="lblFixtureAbbr{{ fixture['fixture_id']|string }}">
                            {{ fixture['fixture_abbreviation'] }}
                        </td>
                        <td id="lblFixtureName{{ fixture['fixture_id']|string }}">
                            {{ fixture['fixture_name'] }}
                        </td>
                        <td id="lblFixtureQty{{ fixture['fixture_id']|string }}">
                            {{ fixture['quantity'] }}
                        </td>
                        <td id="lblFixtureCost{{ fixture['fixture_id']|string }}">
                            {{ "${:,.2f}".format(fixture['cost_per_fixture']) }}
                        </td>
                        <td id="lblFixtureTotal{{ fixture['fixture_id']|string }}">
                            {{ "${:,.2f}".format(fixture['total_per_fixture']) }}
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
                <tfoot>
                    <tr class="text-center">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="fw-semibold">Total</td>
                        <td id="proposalFixturesTotal" class="fw-semibold">{{ "${:,.2f}".format(proposal_fixtures_total)
                            }}</td>
                    </tr>
                </tfoot>
            </table>

        </form>
        <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#btnAddFixture").on("click", function (e) {
                    var url = "{{ url_for('add_fixture') }}";
                    var data = $('#addFixtures').serializeArray();
                    $.ajax({
                        type: "POST",
                        url: url,
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        data: data, // serializes the form's elements.
                        success: function (data) {
                            // console.log(data)  // display the returned data in the console.

                            console.log(data.length);
                            if (data.length == 1) {
                                var tableBody = document.getElementById("fixtureTable").querySelector("tbody");
                                var rowToDelete = document.getElementById("emptyFixtureRow");
                                rowToDelete.remove();
                            }

                            let formatting_options = {
                                style: 'currency',
                                currency: 'USD',
                                minimumFractionDigits: 2,
                            }
                            let dollarString = new Intl.NumberFormat("en-US", formatting_options);
                            var total_fixtures_cost = 0;

                            // Create a new table row
                            var newRow = document.createElement("tr");
                            newRow.classList.add("text-center");

                            // Create table cells for each item detail
                            var abbrCell = document.createElement("td");
                            abbrCell.textContent = data[data.length - 1]['fixture_abbreviation'];
                            newRow.appendChild(abbrCell);

                            var nameCell = document.createElement("td");
                            nameCell.textContent = data[data.length - 1]['fixture_name'];
                            newRow.appendChild(nameCell);

                            var qtyCell = document.createElement("td");
                            qtyCell.textContent = data[data.length - 1]['fixture_quantity'];
                            newRow.appendChild(qtyCell);

                            var costCell = document.createElement("td");
                            costCell.textContent = dollarString.format(data[data.length - 1]['fixture_cost']);
                            newRow.appendChild(costCell);

                            var totalCell = document.createElement("td");
                            totalCell.textContent = dollarString.format(data[data.length - 1]['fixture_total']);
                            newRow.appendChild(totalCell);

                            // Get the table body
                            var tableBody = document.getElementById("fixtureTable").querySelector("tbody");

                            // Append the new row to the table body
                            tableBody.appendChild(newRow);

                            // Get overall total
                            for (var i = 0; i < data.length; i++) {
                                total_fixtures_cost = total_fixtures_cost + data[i]['fixture_total'];
                            }
                            // console.log("Total: " + total_fixtures_cost);

                            document.getElementById("proposalFixturesTotal").textContent = dollarString.format(total_fixtures_cost);

                            // Reset fixture info fields
                            var fixture_select = document.getElementById("fixture_select");
                            var fixture_quantity = document.getElementById("fixture_quantity");
                            var fixture_cost = document.getElementById("fixture_cost");
                            fixture_select.selectedIndex = 0;
                            fixture_quantity.value = "";
                            fixture_cost.value = "";
                        }
                    });
                    e.preventDefault(); // block the traditional submission of the form.
                });

                // Inject our CSRF token into our AJAX request.
                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ apply_payment_form.csrf_token._value() }}")
                        }
                    }
                })
            });
        </script>


        <hr>

        <h3>Payment Plan</h3>
        <form>
            <!-- Payment Plan -->
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Type</span>
                        <select class="form-select" aria-label="Default select example">
                            <option selected disabled>Select category</option>
                            <option>Drains</option>
                            <option>Rough, Tub, Showers</option>
                            <option>Final fixtures installation</option>
                        </select>
                    </div>
                </div>

                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input type="text" class="form-control" placeholder="Installment amount" aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>
                </div>

                <div class="col-2 text-end">
                    <button class="btn btn-primary">Add Payment</button>
                </div>
            </div>
        </form>

        <!-- Table with Payment Plan Installments -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Installment</th>
                    <th>Category</th>
                    <th class="text-end">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1st</td>
                    <td>Drains</td>
                    <td class="text-end">$7,400.00</td>
                </tr>
                <tr>
                    <td>2nd</td>
                    <td>Rough, Tub, Showers</td>
                    <td class="text-end">$7,400.00</td>
                </tr>
                <tr>
                    <td>3rd</td>
                    <td>Final fixtures installation</td>
                    <td class="text-end">$3,700.00</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td class="fw-semibold text-end">Total</td>
                    <td class="fw-semibold text-end">$18,500.00</td>
                </tr>
            </tfoot>
        </table>
        <div class="text-center mt-4">
            <button class="btn btn-primary">Create Proposal</button>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
</div>